.active {
  color: #0b5ed7 !important;
  font-weight: bold;
  border-bottom: 3px solid #0b5ed7;
}

.img-container{
  display: flex;
  justify-content: center;
  margin: 20px;
} 

.portal{
  width: 300px;
  height: 300px;
}